body {
  margin: 40px;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
}

.map1
{
position: relative;
top:-2567px;
left: 790px;

}
.map2
{
position: relative;
top:-2590px;
left: 1240px;

}
.map3
{
position: relative;
top:-2220px;
left: 790px;

}
.map4
{
position: relative;
top:-2270px;
left: 1010px;

}

.map5
{
position: relative;
top:-2270px;
left: 1420px;

}
.boxx {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 11px;
  font-size: 138%;
  height: 200vh;
  width: 30vh;
}

#arrow{
color: black;
font-size:86px;
position: relative;
top:-2265px;
left: 530px;

}
#A1{
  font-size: 150%;
  position: relative;
  top:-2150px;
  left:282px;
  background-color: #DCDCDC;
  border-radius: 5px;
  height:4vh;
  width:13vh;
}
#A2{
  font-size: 150%;
  position: relative;
  top:-2150px;
  left:282px;
  background-color: #DCDCDC;
  border-radius: 5px;
  height:4vh;
  width:13vh;
}
#A3{
  font-size: 150%;
  position: relative;
  top:-1785px;
  left:90px;
  
  background-color: #DCDCDC;
  border-radius: 5px;
  height:4vh;
  width:14vh;
}

#A4{
  font-size: 150%;
  position: relative;
  top:-1900px;
  left:1060px;
  background-color: #DCDCDC;
  border-radius: 5px;
  height:4vh;
  width:14vh;
}

#A5{
  font-size: 150%;
  position: relative;
  top: -1911px;
  left: 340px;
  background-color: #DCDCDC;
  border-radius: 5px;
  height:4vh;
  width:14vh;
}

#b4{
  position: relative;
  top:-1743px;
  left:460px;
  background-color: #000066;
  height:8vh;
  width: 26vh;
}

#b5{
  position: relative;
  top:-1743px;
  left:460px;
  background-color: #000066;
  height:16vh;
  width: 26vh;
}

#b6{
  position: relative;
  top:-1743px;
  left:460px;
  background-color: #000066;
  height:12vh;
  width: 26vh;
}

#b7{
  position: relative;
  top:-1460px;
  left:-300px;
}

#b8{
  position: relative;
  top:-1465px;
  left:1080px;
  background-color: #000066;
  height:12vh;
  width: 26vh;
}

#b9{
  position: relative;
  font-size: 104%;
  top: -1824px;
  left: -550px;
  height: 20vh;
  width: 16vh;
}
#b9a{
  position: relative;
  top:-1830px;
  left:-90px;
  background-color: #000066;
  height:12vh;
  width: 16vh;
}

#b10{
  position: relative;
  font-size: 104%;
  top: -1822px;
  left: -805px;
  height: 20vh;
  width: 16vh;
}

#b10a{
  position: relative;
  top:-1828px;
  left:-346px;
  background-color: #000066;
  height:12vh;
  width: 16vh;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 12px;
  font-size: 125%;
  height: 23vh;
  width: 26vh;
}

.line{
border: none;
border-top: 5px solid;
color:black;
width: 204px;
position: absolute;
top: 170px;
left:716px;	
}

.line1{
border: none;
border-top: 5px solid;
color:black;
width: 204px;
position: absolute;
top: 170px;
left:1177px;
	
}

.line2{
border: none;
border-top: 5px solid;
color:black;
transform: rotate(-69deg);
width: 373px;
position: absolute;
top: 588px;
left:1222px;
	
}
.line3{
border: none;
border-top: 5px solid;
color:black;
transform: rotate(55deg);
width: 166px;
position: absolute;
top: 520px;
left:950px;
	
}

.line4{
border: none;
border-top: 5px solid;
color:black;
transform: rotate(-130deg);
width: 644px;
position: absolute;
top: 620px;
left:550px;
	
}

.line5{
border: none;
border-top: 5px solid;
color:black;
width: 195px;
position: absolute;
top: 436px;
left:470px;
	
}

.line6{
border: none;
border-top: 5px solid;
color:black;
transform: rotate(90deg);
width: 145px;
position: absolute;
top: 506px;
left:400px;
	
}

.line7{
border: none;
border-top: 5px solid;
color:black;
transform: rotate(90deg);
width: 149px;
position: absolute;
top: 508px;
left:590px;
	
}

.task {
  background-color: pink;
  color: black;
  padding: 4px;
  margin: 4px;
}

.button1{
  position: absolute;
  top : 870px;
  left: 1600px;
  padding: 13px 20px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999; 
}

.button1:hover {
  background-color: #3e8e41
  }

.button1:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
