body {
background: linear-gradient(to right, #0ED2F7, #B2FEFA); 
color: black;
font-family: Verdana, Helvetica, sans-serif;
}

.covidInfo{
position: absolute;
left : 10px;
font-size: 20px;

top: 150px;
}
.covidInfo1{
position: absolute;
left : 10px;
font-size: 20px;
top: 310px;
}

.covidInfo2{
position: absolute;
left : 10px;
top: 580px;

}

.covidInfo3{
position: absolute;
left : 10px;
top: 830px;

}

.covidInfo4{
position: absolute;
left : 10px;
top: 1680px;

}
